body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Lets begin */


/* Fancy Hats*/
.storeContainer{
    margin:0;
}


.storeContent {
    min-height: 50px;
    padding-left: 7px;
    padding-right: 7px;
}

.prodCard {
    padding: 3px;
}
.prodCard:hover{
    background-color:whitesmoke
}

.prodContainer{
    background-color:white;
}
imgContainer {
    height: 300px;
}
.prodContainer img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    padding: 0px;
    padding-top: 2px;
}

.prodContainer .prodContainer-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    position: relative;
    max-width: 100%;
    height: 100%;
    background-color: white
}

.prodContainer-body h4 {
    text-align: center;
}

.prodContainer-body p {
    text-align: center;
}

/* Fancy Left Bar */

.storeLeftBar {
    min-height: 50px;
    padding:5px;
}


.bigThingie{
    cursor:pointer;
    border:none;
}
.bigThingie h4 {
    font-weight: 700;
    text-align: right;
}
.bigThingie h4 a{
    letter-spacing:1px;
    text-decoration:none;
}

.smallThingies{
    margin: 0;
    padding: 0;
}

.smallThingies li {
    font-style: italic;
    font-weight: 400;
    line-height: 70%;

    text-align:right;
    cursor:pointer;
}


.thing{
    background-color:pink;

    min-height:300px;

}