body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Lets begin */

.storeContainer{
    margin:0;
}

.storeLeftBar{
    min-height:50px;
    background-color:aqua;
}

.storeContent {
    min-height: 50px;
    padding-left: 7px;
    padding-right: 7px;
}

.prodCard {
    padding: 3px;
}
.prodCard:hover{
    background-color:whitesmoke
}

.prodContainer{
    background-color:white;
}

.prodContainer img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        padding: 0px;
        padding-top: 2px;
}

.prodContainer .prodContainer-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    position: relative;
    max-width: 100%;
    height: 100%;
    background-color: white
}

.prodContainer-body h4 {
    text-align: center;
}

.prodContainer-body p {
    text-align: center;
}