body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Lets begin */

.storeContainer{
    min-height:200px;
    background-color:green;
    margin:0;
}

.storeLeftBar{
    min-height:50px;
    background-color:aqua;
}

.storeContent {
    min-height: 50px;
    background-color: red;
    padding-left: 7px;
    padding-right: 7px;
}

.productContainer{
    min-height:190px;
    background-color:dimgrey;
    border:dashed;
    border-width:2px;
    border-color:black;
    padding:5px;

}

.productContainer img{
    max-height:100%;
    max-width:100%;
    object-fit:contain;
    margin:0;

}