@model OCS.MVC.Models.FiltersModel

<div>
    <div class="col-md-2 storeLeftBar">
        <div class="searchContainer">
            <input id="searchBar" type="text" value="@Model.SearchString" />
        </div>
        <div class="panel-group">
            @*Brand*@
            <div id="collapsibleBrands" class="panel panel-default collapsibleThingie">
                <div class="panel-heading bigThingie">
                    <h4 class="panel-title">
                        <a>Brand</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse">
                    <ul class="list-group smallThingies">
                        @foreach (var categ in Model.Categories)
                        {
                            <li class="list-group-item">@categ.Name</li>
                        }
                    </ul>
                </div>
            </div>
            
            @*Categories*@
            <div id="collapsibleCategs" class="panel panel-default collapsibleThingie">
                <div class="panel-heading bigThingie">
                    <h4 class="panel-title">
                        <a>Category</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse">
                    <ul class="list-group smallThingies">
                        @foreach (var brand in Model.Brands)
                        {
                            <li class="list-group-item">@brand.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>