
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<div class="storeContainer">
    <div class="col-md-2 storeLeftBar">
        <div class="searchContainer">
            <input id="searchBar" type="text" />

        </div>
        <div class="panel-group">
            @*Brand*@
            <div id="collapsibleBrands" class="panel panel-default collapsibleThingie">
                <div class="panel-heading bigThingie">
                    <h4 class="panel-title">
                        <a>Brand</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse">
                    <ul class="list-group smallThingies">
                    </ul>
                </div>
            </div>
            @*Categories*@
            <div id="collapsibleCategs" class="panel panel-default collapsibleThingie">
                <div class="panel-heading bigThingie">
                    <h4 class="panel-title">
                        <a>Category</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse">
                    <ul class="list-group smallThingies">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 storeContent">
    </div>
    <div class="col-md-6 col-md-offset-3 thing">
        <button id="ASD" type="submit" class="btn btn-default">Submit</button>
    </div>
</div>



