
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<div class="storeContainer">
    <div class="col-md-2 storeLeftBar">

        <div class="panel-group">
            @*Brand*@
            <div id="collapsibleBrands" class="panel panel-default collapsibleThingie">
                <div class="panel-heading bigThingie">
                    <h4 class="panel-title">
                        <a>Brand</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse">
                    <ul class="list-group smallThingies">
                        <li class="list-group-item">Option 1</li>
                        <li class="list-group-item">Option 2</li>
                        <li class="list-group-item">Option 3</li>
                        <li class="list-group-item">Option 4</li>
                    </ul>
                </div>
            </div>
            @*Categories*@
            <div id="collapsibleCategs" class="panel panel-default collapsibleThingie">
                <div class="panel-heading bigThingie">
                    <h4 class="panel-title">
                        <a>Category</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse">
                    <ul class="list-group smallThingies">
                        <li class="list-group-item">Option 1</li>
                        <li class="list-group-item">Option 2</li>
                        <li class="list-group-item">Option 3</li>
                        <li class="list-group-item">Option 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 storeContent">
        <div class="col-md-3 prodCard">
            <div class="prodContainer">
                <img src="https://static1.squarespace.com/static/558d3d7de4b01d0572ff0342/5650eef4e4b0a58f184e9837/5655e1f4e4b0f06765dbd0ef/1448469012468/Bailey+Fedora.jpg?format=750w">
                <div class="prodContainer-body">
                    <h4>Card title</h4>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 prodCard">
            <div class="prodContainer">
                <img src="https://static1.squarespace.com/static/558d3d7de4b01d0572ff0342/5650eef4e4b0a58f184e9837/5655e1f4e4b0f06765dbd0ef/1448469012468/Bailey+Fedora.jpg?format=750w">
                <div class="prodContainer-body">
                    <h4>Card title</h4>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 prodCard">
            <div class="prodContainer">
                <img src="https://static1.squarespace.com/static/558d3d7de4b01d0572ff0342/5650eef4e4b0a58f184e9837/5655e1f4e4b0f06765dbd0ef/1448469012468/Bailey+Fedora.jpg?format=750w">
                <div class="prodContainer-body">
                    <h4>Card title</h4>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 prodCard">
            <div class="prodContainer">
                <img src="https://static1.squarespace.com/static/558d3d7de4b01d0572ff0342/5650eef4e4b0a58f184e9837/5655e1f4e4b0f06765dbd0ef/1448469012468/Bailey+Fedora.jpg?format=750w">
                <div class="prodContainer-body">
                    <h4>Card title</h4>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 prodCard">
            <div class="prodContainer">
                <img src="https://static1.squarespace.com/static/558d3d7de4b01d0572ff0342/5650eef4e4b0a58f184e9837/5655e1f4e4b0f06765dbd0ef/1448469012468/Bailey+Fedora.jpg?format=750w">
                <div class="prodContainer-body">
                    <h4>Card title</h4>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 prodCard">
            <div class="prodContainer">
                <img src="https://static1.squarespace.com/static/558d3d7de4b01d0572ff0342/5650eef4e4b0a58f184e9837/5655e1f4e4b0f06765dbd0ef/1448469012468/Bailey+Fedora.jpg?format=750w">
                <div class="prodContainer-body">
                    <h4>Card title</h4>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 prodCard">
            <div class="prodContainer">
                <img src="https://static1.squarespace.com/static/558d3d7de4b01d0572ff0342/5650eef4e4b0a58f184e9837/5655e1f4e4b0f06765dbd0ef/1448469012468/Bailey+Fedora.jpg?format=750w">
                <div class="prodContainer-body">
                    <h4>Card title</h4>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3 thing">
        <button id="ASD" type="submit" class="btn btn-default">Submit</button>
    </div>
</div>



