@model IEnumerable<OCS.MVC.Models.ProductModel>

@{
    ViewBag.Title = "Shop Index";
}

<h2>Index</h2>


<div class="storeContainer">
    
    @{await Html.RenderAction("Filters", "Product")}

    <div class="col-md-10 storeContent">
        @foreach (var prod in Model)
        {
            <div class="col-md-3 prodCard">
                <div class="prodContainer">

                    <div class="imgContainer">
                        <img src="@prod.Image" />
                    </div>

                    <div class="prodContainer-body">
                        <h4>@prod.ProductName</h4>
                        <p class="prodBrand">@prod.Brand</p>
                        <p class="prodPrice">@prod.ProductPrice$</p>
                    </div>

                </div>
            </div>
        }
    </div>
</div>