@model IEnumerable<OCS.MVC.Models.ProductModel>

@{
    ViewBag.Title = "Shop Index";
}

<h2>Index</h2>


<div class="storeContainer">
    <div class="col-md-2 storeLeftBar">
        <div class="searchContainer">
            <input id="searchBar" type="text" />

        </div>
        <div class="panel-group">
            @*Brand*@
            <div id="collapsibleBrands" class="panel panel-default collapsibleThingie">
                <div class="panel-heading bigThingie">
                    <h4 class="panel-title">
                        <a>Brand</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse">
                    <ul class="list-group smallThingies">
                        
                    </ul>
                </div>
            </div>

            @*Categories*@
            <div id="collapsibleCategs" class="panel panel-default collapsibleThingie">
                <div class="panel-heading bigThingie">
                    <h4 class="panel-title">
                        <a>Category</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse">
                    <ul class="list-group smallThingies"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 storeContent">
        @foreach (var prod in Model)
        {
            <div class="col-md-3 prodCard">
                <div class="prodContainer">

                    <div class="imgContainer">
                        <img src="@prod.Image" />
                    </div>

                    <div class="prodContainer-body">
                        <h4>@prod.ProductName</h4>
                        <p class="prodBrand">@prod.Brand</p>
                        <p class="prodPrice">@prod.ProductPrice$</p>
                    </div>

                </div>
            </div>
        }
    </div>
</div>