
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<div class="storeContainer">
    <div class="col-md-2 storeLeftBar">
        <p>
            Not this again
        </p>

    </div>
    <div class="col-md-10 storeContent">
        <div class="col-md-3 productContainer">
            <div class="card">
                <img class="card-img-top" src="https://static1.squarespace.com/static/558d3d7de4b01d0572ff0342/5650eef4e4b0a58f184e9837/5655e1f4e4b0f06765dbd0ef/1448469012468/Bailey+Fedora.jpg?format=750w">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 productContainer">

        </div>
        <div class="col-md-3 productContainer">

        </div>
        <div class="col-md-3 productContainer">

        </div>
        <div class="col-md-3 productContainer">

        </div>
        <div class="col-md-3 productContainer">

        </div>
    </div>
</div>



