
@{
    ViewBag.Title = "Administrator page";
}

<h2>This is the administrator page. Here the administrator can manage users and products.</h2>

<nav>@Html.ActionLink("CreateProduct","CreateProduct","Admin")</nav>

